<div class="container">
    
    
    <span style='font-size:30px;position:absolute;top:130px;z-index: 2;' (click)="leftarrow()">&#11164;</span>
    <span style='font-size:30px;position:absolute;top:130px;left:1324px;z-index: 2;' (click)="rightarrow()">&#11166;</span>
<div [ngClass]="{'wrapper-container1': press === 1, 'wrapper-container2': press ===2, 
'wrapper-container3': press === 3}">

<div class="div1">
<div [ngClass]="{'wrapper-one-one': press === 1, 'wrapper-one-two': press ===2, 
'wrapper-one-three': press === 3}">
    <h1>Some text about <br>who we are and <br>what we do <br>or product which we can <br>connect.1</h1></div>
<img src="\Alexa.jpg" >
</div>
 <div class="div2">
   
 <div [ngClass]="{'wrapper-two-one': press === 1, 'wrapper-two-two': press ===2, 
 'wrapper-two-three': press === 3}">
 <h1>Some text about <br>who we are and <br>what we do <br>or product which we can <br>connect.1</h1> </div>
 <img src="\Imperial.jpg">
</div>
<div class="div3">
    
<div [ngClass]="{'wrapper-three-one': press === 1, 'wrapper-three-two': press ===2, 
'wrapper-three-three': press === 3}">
<h1>Some text about <br>who we are and <br>what we do <br>or product which we can <br>connect.1</h1></div>
<img src="\Alexa.jpg">
</div>
</div>

</div>
    
 