<div style="width:100%; height:100%;  overflow: hidden;">

<div class="container">
    
    
    <!--<span class="leftarrow" (click)="leftarrow()">&#11164;</span>
    <span class="rightarrow" (click)="rightarrow()">&#11166;</span>-->
    <span class="leftarrow" (click)="leftarrow()"><i class="arrow left"></i></span>
    <span class="rightarrow" (click)="rightarrow()"><i class="arrow right"></i></span>

<div [ngClass]="{'wrapper-container1': press === 1, 'wrapper-container2': press ===2, 
'wrapper-container3': press === 3}">

<div class="div1">
<div [ngClass]="{'wrapper-one-one': press === 1, 'wrapper-one-two': press ===2, 
'wrapper-one-three': press === 3}">
   <p> A perfect mix of <br>aesthetics and <br>functionality Ceiling fans </p></div>
<img src="\Alexa.jpg" >
</div>
 <div class="div2">
   
 <div [ngClass]="{'wrapper-two-one': press === 1, 'wrapper-two-two': press ===2, 
 'wrapper-two-three': press === 3}">
 <p>Choose exactly how <br>and where you want<br>
     that fresh breeze of air, </p> </div>
 <img src="\Imperial.jpg">
</div>
<div class="div3">
    
<div [ngClass]="{'wrapper-three-one': press === 1, 'wrapper-three-two': press ===2, 
'wrapper-three-three': press === 3}">
<p>Your buddy for all <br>places be it your study,<br> kitchen or balcony!
    </p></div>
<img src="\Alexa.jpg">
</div>
</div>

</div>
    

</div>
 