<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="footer-container"> 
    <div class="footer">
    <div class="flex-container">
      <h2>Company</h2>
      <p>About</p>
      <p>Services</p>
      <p>Design</p>
      <p>Principles</p>
    </div>
    
    <div class="flex-container">
      <h2>Company</h2>
      <p>About</p>
      <p>Services</p>
      <p>Design</p>
      <p>Principles</p>
    </div>
    
    <div class="flex-container">
      <h2>Company</h2>
      <p>About</p>
      <p>Services</p>
      <p>Design</p>
      <p>Principles</p>
    </div>
    
    <div class="flex-container">
      <h2>Signup</h2>
      <p>To get daily notification register <br>your email here</p>
      <form>
      <input type="email" placeholder="enter your email here" size="20">
      <input type="button" value="Signup" >
      </form>

      <div class="flex-container-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
      </div>
    </div>

    
  </div>

  <div style="color:white;width: 100%;background-color:black;">
    <h4 style="margin-left:150px">Adnia Solution since 2021</h4>
  </div>

   </div>

   