

<div style="width:100%;margin-top: 15%;" *ngIf="checkoutlist.length === 0 ">
   <div style="margin:auto;width:50%;"><h1>No products added yet . Kindly add some </h1></div> 
</div>

<div *ngFor="let c of checkoutlist;let i = index">
    <div class="course-container">
    <div>
        <img src="/Alexa.jpg" width="560" height="200">
    </div>
    <div>
       <!-- <h1 style="text-align: center;">Product Name</h1>-->  <h1 >{{c.name}}</h1>
    </div>
<div class="course-details">
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
</div>
<div style="margin: 0px 10px;">
<h2>Price: $ 120.00</h2>
</div>
<div style="margin: 0px 10px;">
    <p>Description</p>
</div>

<button (click) ='remove(i)'>Cancel</button>

</div>
</div>