<div *ngFor="let c of checkoutlist;let i = index">
    <div class="course-container">
    <div>
        <img src="" width="560" height="200">
    </div>
    <div>
       <!-- <h1 style="text-align: center;">Product Name</h1>-->  <h1 >{{c.name}}</h1>
    </div>
<div class="course-details">
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
</div>
<div style="margin: 0px 10px;">
<h2>Price: $ 120.00</h2>
</div>
<div style="margin: 0px 10px;">
    <p>Description</p>
</div>

<button (click) ='remove(i)'>Cancel</button>

</div>
</div>