.contain-page{
    margin-left:5%;
}
.contain-parts{
    margin-top: 6%;
}
.position-contain{
    margin-left:2%;
}

.position-heading{
    font-size: large;
    display:flex;
}

.show-class{
    display:none;
}