
<h3>Contact Form</h3>

<div class="form">
  <h2>Let's Talk</h2>
  <br>
  <form (ngSubmit) ="onsubmit(myform)" #myform ="ngForm">

      <div ngModelGroup="personaldetails" #personaldetails="ngModelGroup">
      
          <label for="firstname">Name: </label>
          <br>
  <input type="text" name="firstname" [(ngModel)]="customername" required #fname="ngModel">
   
  <br>
  <label for="email">E-mail: </label>
  <br>
  <input type="email" name="email" [(ngModel)]="customeremail" required email #ename="ngModel">
 
  <br>
  <label for="contacttype"> Choose the following</label>
  <br>
  <input type="radio" value="customercare" name="contacttype" [(ngModel)]="selectedchoice" required>
  <label for="customercare"> Customer Care</label>
  <input type="radio" value="partner" name="contacttype" [(ngModel)]="selectedchoice" required style="margin-left: 40px;">
  <label for="partner"> Partner</label>
  <br>

  <label for="message">Message: </label>
  <br>
  <!--<input type="text" name="query" [(ngModel)] ="message" required #qname="ngModel">-->
  
  <textarea  name="query" rows="4" cols="50" [(ngModel)] ="message" required #qname="ngModel"
  >Enter message</textarea>
  <div>
      <small *ngIf="personaldetails.invalid && personaldetails.touched">name,email and choice
          are required</small>
  </div>
  
</div>
  <!--<label for="password">password: </label>
  <input type="password" name="password" ngModel required #pname="ngModel">
  <small *ngIf="pname.invalid && pname.touched">password is required</small>

  <br>
    <input type="button" value="submit" [disabled]="!myform.valid">
<br>
<button type="submit" value="submit" [disabled]="!myform.valid">click me</button>-->
  
<br>
<button type="submit" value="submit" [disabled]="!myform.valid">Submit</button>
  
  </form>
</div>