

body{
    overflow-x:hidden;
    margin:0!important;
   }

   .zoom {
    transition: width 2s;
}

.zoom:hover {
  width: 300px;
}

    .container{
        width:300%;
        height:100%;
        object-fit:contain;
       /* border:1px solid black;*/
       z-index:-1;
       margin-top:0%;
       
    }
    .wrapper{
        width:100%;
        height:100%;
        /*border:5px solid blue;*/
        display:flex;
        background-color: #92a8d1;
        animation: slide 30s infinite;
        
    }
    
.wrapperone{
    position:relative;
    top:80px;
    animation: slide-one 30s infinite;
}
.wrappertwo{
    
    position:relative;
    top:80px;
    animation: slide-two 30s infinite;
}
.wrapperthree{
    
    position:relative;
    top:80px;
    animation: slide-three 30s infinite;
}
    .div1{
        width:33%;
        height:100%;
       /* border:5px solid yellow;*/
        display:flex;
        position:relative;
    }
    .div2{
        width:33%;
        height:100%;
        /*border:5px solid green;*/
        display:flex;
        position:relative;
    }
    .div3{
        width:33%;
        height:100%;
       /* border:5px solid red;*/
        display:flex;
        position:relative;
    }
    
   .container img{
        width:45%;
        height:55%;
        position:relative;
        right:-30%;
        top:30%;
        
    }

    @keyframes slide{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(0);
    }
    34%{
        transform: translateX(-33%);
    }
    64%{
        transform: translateX(-33%);
    }
    66%{
        transform: translateX(-66%);
    }
    98%{
        transform: translateX(-66%);
    }
    99%{
        transform: translateX(0);
    }
   
}

@keyframes slide-one{
    0%{
        transform: translateX(-50%);
    }
    
    10%{
        transform: translateX(25%);
    }

   100%{
    transform: translateX(25%);
   }
   
}


@keyframes slide-two{
    
    
    0%{
        transform: translateX(-1500%);
    }
    33.33%{
        transform: translateX(-1500%);
    }
    50%{
        transform: translateX(25%);
    }
    100%{
        transform: translateX(25%);
    }
   
   
}


@keyframes slide-three{
    0%{
        transform: translateX(-3500%);
    }
    
    66.33%{
        transform: translateX(-3500%);
    }

   78%{
    transform: translateX(25%);
   }
   100%{
    transform: translateX(25%);
   }
}

















.content{
    display:flex;
    width:100%;
    height:100%;
    margin-top: 5%;
    /*border:1px solid black;*/
      }
      .content-image{
      /*  border:1px solid red;*/
        width:100%;
      }
      .content-image >img {
        object-fit:fill;
        
      }
      .content-paragraph{
        width:100%;
        margin:auto;
      }
  









      
.footer-container{
    width:100%;
    height:100%;
    position:relative;
  }
  .footer{
    width:100%;
    height:100%;
    background-color:black;
    display:flex;
    
  
  }
  
  .flex-container{
    display: flex;
    flex-direction: column;
    color:white;
    padding-top:5%;
    padding-left:12%;
  
    }
  .flex-container-icons{
    display: flex;
  }
    
  
  .flex-container > p{
    font-size:15px;
    
    }
  
    .flex-container > button{
        size:15px;
        }


        .fa {
            padding: 9px;
            font-size: 13px;
            width: 8px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
          }
          
          .fa:hover {
              opacity: 0.7;
          }
          
          .fa-facebook {
            background: white;
            color: black;
          }

          .fa-twitter {
            background: white;
            color: black;
          }
          
          .fa-google {
            background: white;
            color: black;
          }
          
          .fa-linkedin {
            background: white;
            color: black;
          }
    /*this will be deleted , check before deleting*/
    /* ul.a {
            list-style-type: square;
            margin-left: 25px
          }
          ul.b {
            list-style-type: square;
            margin-left: 65px
          }  
          .colorposition{
            display: flex;
          }
        
        .image-container{
            height:70px;
            width:70px;
            padding:10px 10px;
            margin-left: 10px;
            margin-bottom: 150px;
            margin-top: 50px;
        }*/


/*this will be implemented*/
.bang{ 
    margin-bottom: 10%;
display:grid;
grid-template-columns: 33% 33% 33%;
gap:10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card:hover{
    transform: scale(1.1);
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
  display:flex
}

.card button:hover {
  opacity: 0.7;
}
/*glkgh*/





    .contain{
        display:grid;
        grid-template-columns: 33% 33% 33%;
        margin-top:10%;
        margin-bottom:10%;
        padding-left: 10%;;
        }
        
        .product-container{
            /*display: flex;
            margin:15px 0px;*/
            
           
        }
        
        
       
        
        .detail-container{
            /*This was the previous margin*/
           /* margin:0px 20px;*/
            
        }
        .name-container{
            margin:0px 20px;
            
        }
        
        
        .btn{
            font-size:10px;
            /*This was the previous margin*/
            /*margin:0px 5px;*/
            margin-left:45px;
            padding:2px 10 px;
           
        }
        
        @media(min-width : 600px){
            .detailcontainer{
                display:flex; 
                 margin:0px 20px;
             }
        
             .laptopview{
                display:flex;
            }
        }
        /*
        input[type=button]{
            height:60px;
            width:140px;
            font-size: 20px;
            font-weight: bold;
        }
        
        @media(max-width : 600px){
            input[type=button]{
                height:60px;
                width: 80px;
                font-size: 10px;
                font-weight: bold;
            }
        }*/
        
        
         /* .adjustsecondimage{
            float: right;
            height: 350px;
            width: 350px;
            background-color:#615192;
        }*/
        
        
        /*
        .zoomtransition{
            width: 50px;
          height: 100px;
          transition: width 2s;
        
        }
        .zoomtransition:hover{
            width: 500px;
        
        }
        
        .x:hover{
            -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
        
        .somespace{
            margin-top: 15px;
            margin-left: 850px;
        }
        
        .scroll{
            height:400px;
            overflow-y: scroll;
        }
        
        */
        
        
      /*  @media (max-width:400px){
            input[type=button]{
                width:160px;
            }
         }
*/



         /*Why Ania solution starts*/
         
.position{
margin-left: 2%;
display: grid;
grid-template-columns:30% 30% 30% ;
gap:2%;
position:relative;
}

.contain-adnia{
    background-color:#92a8d1;
    width:100%;
    height:100%;
}
.position img{
   margin: 0% 20%;
   width :170px;height:170px;border-radius:50%;
}
         /*Why Adnia solution ends*/