<app-header></app-header>



 <!--Parallel images start-->

 <div>
  <div class="adjacent-images">
   <img src="\Alexa.jpg"   alt="">
   <img src="\Alexa.jpg"   alt="">
   <img src="\Alexa.jpg"   alt="">
  </div>
  <div class="adjacent-images" >
   <h4 style="margin-top:-135px">Some text or product which we can connect </h4>
   <h4 style="margin-top:-135px">Some text or product which we can connect</h4>
   <h4 style="margin-top:-135px">Some text or product which we can connect</h4>
 </div>
 </div>
  <!--Parallel images end-->



    <div class="content"  >
        <div class="content-image" ><img src="\Alexa.jpg" style="max-height: 550px;max-width: 550px;"></div>
        <div class="content-paragraph"><h3>Find rich, high-quality printable, projectable, and electronic books that help students improve their comprehension and fluency. Filter the resources to find engaging texts that students can access at any time to get the practice they need to become better, more confident readers.</h3>
        </div>
        </div>
        
        <div class="content" >
        <div class="content-paragraph" ><h3>Find rich, high-quality printable, projectable, and electronic books that help students improve their comprehension and fluency. Filter the resources to find engaging texts that students can access at any time to get the practice they need to become better, more confident readers.</h3></div>
        <div class="content-image"><img src="\Alexa.jpg" style="max-height: 550px;max-width: 550px;"> </div>
        
        </div>





<!--this needs to be deleted , check before deleting-->
    <!--    <div class="contain">

          <div  *ngFor="let p of products;let i = index">
           
              <div>
              <div class="products-conatiner"> <img src="\Alexa.jpg" alt="" style="max-height: 350px;max-width: 350px;"> </div>
          </div>
          <div class="name-conatiner"><h4>{{p.name}}</h4>
          
               Price:$1200 
               Color:Black 
          </div>
          <div class="options">
          <button class="btn" routerLink="/Details/{{p.id}}"> Show Details</button>
          <button class="btn" (click)='sendcheckout(p)'> Buy</button>
          </div>
          </div>
          
          </div>
        -->
<!--till here-->
<!--The below ones is good-->
<div style="margin-top: 10%;">
<h2 style="text-align:center">Product Card</h2>
<div class="bang" >
  <div *ngFor="let p of products;let i = index">
<div class="card">
  <img src="\Alexa.jpg" alt="Denim Jeans" style="width:100%">
  <h1>{{p.name}}</h1>
  <p class="price">${{p.amount}}</p>
  <div style="display:flex ;"><button routerLink="/Details/{{p.id}}" >Show Details</button>
  <button (click)='sendcheckout(p)'>Checkout</button></div>
</div>
</div>
</div>
</div>
<!--till here-->



<!--why adnia solutions start-->
<div class="contain-adnia">
  <div style="padding-top:3%;padding-bottom:5%"> <div style="margin:auto;width:28%"><h1>Why Adnia Solution?</h1></div></div>
<div class="position" >            
       
<div>
<div><img src="\Alexa.jpg"   alt=""></div>

           <!--<h4>About</h4>-->
           <h4>Aneesa S. Majid, MD, MBA, FSIR CPE is an experienced physician leader, executive coach, and entrepreneur, with over 20 years of clinical and business experience.
             Dr. Majid is a board-certified interventional radiologist, and previously was a partner in one of the longstanding IR/DR   </h4>
           
 </div>          




<div>
  <div><img src="\Alexa.jpg"   alt=""></div>

<h4>Dr. Kavi Devulapalli is a Columbia, Missouri based independent interventional radiologist who contracts with multiple hospitals
   and outpatient based practices. His clinical interests include benign prostatic hyperplasia, uterine fibroids,
    venous disease and  critical limb ischemia. </h4>
 </div>     


<div>
<div><img src="\Alexa.jpg"   alt=""></div>

<h4>Dr. Shamit Desai, MD is a practicing interventional radiologist and a founding member of Physician Staffing Solutions, LLC. 
  He attended Rutgers Medical School and Northwestern University Feinberg School of Medicine for his residency and fellowship in Vascular & Interventional .  </h4>
 </div>              
</div>
</div>


<!--why adnia solutions end-->
