<div class="course-container">
    <div>
        <img src="\Alexa.jpg" width="560" height="200">
    </div>
    <div>
    <h1 style="text-align: center;">{{detail.name}}</h1>
    </div>
<div class="course-details">
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
<div style="margin: 0px 10px;"> <b>Author:</b> John Doe</div>
</div>
<div style="margin: 0px 10px;">
<h2>Price: $ {{detail.amount}}</h2>
</div>
<div style="margin: 0px 10px;">
    <p>Description</p>
    </div>
    <button class="btn" (click)='sendcheckout()'> Buy</button>
    </div>