<div class="course-container">
    <div>
        <img src="\Alexa.jpg" width="500" height="400">
    </div>
    <div>
    <h1 style="text-align: center;">{{detail.name}}</h1>
    </div>
<div class="course-details">
<div style="margin: 0px 10px;"> <b>Test</b> Test</div>
<div style="margin: 0px 10px;"> <b>Test1</b> Test1</div>
<div style="margin: 0px 10px;"> <b>Test2</b> Test2</div>
</div>
<div style="margin: 0px 10px;">
<h2>Price: $ {{detail.amount}}</h2>
</div>
<div style="margin: 0px 10px;">
    <p>Description</p>
    </div>
    <button class="btn" (click)='sendcheckout()'> Checkout</button>
    </div>