<!--
    <div class="navbar" >
    <div class="site-name">
    <h2>
     Healthtrack
    </h2>
</div>
<div class="site-menu">
   
<h5 appMouseover>kindly click twice to see about section</h5>
<button >Home</button>
<button >Contacts</button>
<button (click) ='navigatetoproducts()'>Products</button>
<button (click) ='aboutus()'>About</button>
</div>
</div>
-->






<!--<app-about #about >

</app-about>-->
  



<div class="header">

        
    <div class="logo">
        <a href="">
          <!--<img src='assets/romasyslogo.jpg' height="100px" width="100px">-->
          <img src="/Alexa.jpg" alt="">
        </a>
    </div>
    <div class="search"><app-homesearch class="searchcomponent"></app-homesearch></div>
    <div class="navigation">
        <!--<input type="checkbox" > -->
     <!--   <input type="checkbox" class="toggle-menu"> -->
       <!-- <div class="hamburger"></div> -->
        
<!--search function start-->


<!---->


        <ul class="menu">
     <li [routerLinkActive] ="'active'" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/Account">Account</a></li>
     
     <li [routerLinkActive] ="'active'"><a routerLink="/Customerhelp">Customerhelp</a></li>
     <li [routerLinkActive] ="'active'"><a routerLink="/Checkout">Checkout</a></li>
        </ul>
    
    </div>
</div>




  
    <div class="navbar">
        <a routerLink="/Home">Home</a>
        <a routerLink="/Products">Products</a>
        <a routerLink="/About">About</a>
        <a routerLink="/Contact">Contact</a>

      <!--  <a style="position:relative;left:930px" routerLink="/Checkout">$ {{displayamount}} 
            <div style="font-size: 12px;position:relative;left:23px;top:-13px">
            <img src="/shop.webp" style="max-width: 15px;height:15px"><p>{{size}}</p>
        </div></a>   -->
        
        <a class="shoppingicon" routerLink="/Checkout">$ {{displayamount}} 
            <img src="/shop.webp" style="max-width: 15px;height:15px;z-index: -1;">
            <p style="font-size: 15px;color:black;z-index: 0;position: inherit;top: -25px;left:20px">{{size}}</p>
            </a>
      </div>
      